<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>InstaClip Player.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>InstaClip Share.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0359A11D1B7E4BE700C2DC32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0359A1311B7E4BE800C2DC32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0359A13C1B7E4BE800C2DC32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03A0A0F11CC6769700F99266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03A0A1081CC6896A00F99266</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03D59C0F1B7E4E01008A1FE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
